* {
  color: #b6b6b6;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
}

.topbar-row {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.topbar-today {
  flex: 1;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
}

.topbar-dates {
  flex: 3;
  display: flex;
  justify-content: space-around;
}
.channels-container {
  height: 70vh;
  overflow: auto;
}

.channel-row {
  display: flex;
  width: 100%;
  height: auto;
}

.channel-header {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 3fr; /* Dividir en dos columnas iguales */
}
.channel-wrapper {
  display: grid;
  grid-auto-columns: 1fr; /* Las columnas se ajustan automáticamente */
  grid-auto-flow: column; /* Los elementos fluyen en columnas */
  flex: 3; /* Esto no es necesario si estás usando display: grid */
  overflow: hidden;
  scroll-behavior: smooth;
}
.channel-logo {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
}

.channel-logo > img {
  max-width: 100%;
  height: auto;
}

.channel-number {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
}
.show-card {
  border: solid;
  border-color: gainsboro;
}
